* {
  width: 0 auto;
  height: 0 auto;
}

.wrap {
  background-color: #f0f2f5;
  width: 100vw;
  height: 50vw;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  border: 1px solid black;
  width: 40%;
  height: 50%;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.container2 {
  background-color: white;
  border: 1px solid black;
  width: 30%;
  height: 50%;
  margin-left: 30px;
}
